.jumbotron {
  background-color: yellowgreen;
  text-align: center;
  text-shadow: 1px 1px 3px blue;
  margin-top: 50px;
}

.col-4 {
  background-color: beige;
  text-align: center;
}

.col-6 {
  background-color: rgb(193, 204, 255);
  text-align: center;
  margin-bottom: 10px;
}

.card-algo {
  flex: 1 150px;
  padding: 2px 5px 5px 2px;
  margin-top: 10px;
}

.btn {
  color: rgb(30, 30, 116);
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  box-shadow: 3px 3px 7px gray;
}
.btn-consulta {
  width: 100%;
  left: 0p;
  bottom: 0;
}

.footertexts {
  margin: auto;
}
.boxcolor {
  background-color: lightblue;
}

.footer-address-icon {
  padding-right: 15px;
}

.oi-info {
  color: white;
  padding-right: 20px;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: yellowgreen;
  margin-bottom: 0px;
  margin-top: 10px;
}
